services:
  backend:
    build: .
    depends_on:
      postgres:
        condition: service_healthy
        restart: true
    environment:
      BACKEND_DB_URI: ${BACKEND_DB_URI:?}
      UVICORN_HOST: "0.0.0.0"
      UVICORN_PORT: ${BACKEND_PORT:?}
      UVICORN_ROOT_PATH: ${BACKEND_ROOT_PATH?}
    deploy:
      restart_policy:
        condition: on-failure
        delay: 0s
        max_attempts: 3
        window: 120s
    ports:
      - ${BACKEND_PORT:?}:${BACKEND_PORT:?}

  postgres:
    build: db
    command: ["postgres", "-c", "config_file=/etc/postgresql/postgresql.conf"]
    configs:
      - source: pg-conf
        target: /etc/postgresql/postgresql.conf
    deploy:
      restart_policy:
        condition: on-failure
        delay: 0s
        max_attempts: 3
        window: 120s
    environment:
      # Initialization
      POSTGRES_PASSWORD: ${DB_PASSWORD:?}
      POSTGRES_USER: ${DB_USER:?}
      POSTGRES_DB: ${DB_DATABASE:?}
      # Healthcheck
      PGPORT: ${DB_PORT:?}
      PGPASSWORD: ${DB_PASSWORD:?}
      PGUSER: ${DB_USER:?}
      PGDATABASE: ${DB_DATABASE:?}
    ports:
      - ${DB_PORT:?}:${DB_PORT:?}
    healthcheck:
      test: ["CMD", "pg_isready"]
      interval: 30s
      timeout: 1s
      retries: 3
      start_period: 10s
      start_interval: 1s
    secrets:
      - pg-dhparams
      - pg-fullchain
      - pg-privkey
    volumes:
      - db-data:/var/lib/postgresql

  # If you want the pgAdmin web dashboard, run with `docker compose --profile pgadmin up`
  pgadmin:
    image: dpage/pgadmin4
    depends_on:
      postgres:
        condition: service_healthy
        restart: true
    deploy:
      restart_policy:
        condition: on-failure
        delay: 0s
        max_attempts: 3
        window: 120s
    environment:
      PGADMIN_DEFAULT_EMAIL: ${PGADMIN_EMAIL:?}
      PGADMIN_DEFAULT_PASSWORD: ${PGADMIN_PASSWORD:?}
    ports:
      - ${PGADMIN_PORT:?}:80
    profiles:
      - pgadmin
    volumes:
      - pgadmin-data:/var/lib/pgadmin

configs:
  pg-conf:
    file: postgresql.conf

secrets:
  pg-dhparams:
    file: ssl/pg-dhparams.pem
  pg-fullchain:
    file: ssl/pg-fullchain.pem
  pg-privkey:
    file: ssl/pg-privkey.pem

volumes:
  db-data:
  pgadmin-data:
