# user, password, and database can be different from your root credentials
BACKEND_DB_URI=postgres://user:password@postgres:5432/database?sslmode=prefer
BACKEND_PORT=5434

# Your database root credentials
DB_USER=postgres
DB_DATABASE=postgres
DB_PASSWORD=
DB_PORT=5432

PGADMIN_EMAIL=example@example.com
PGADMIN_PASSWORD=
PGADMIN_PORT=5433
