# user, password, and database can be different from your root credentials
BACKEND_DB_URI=postgres://user:dbpassword@postgres:5432/database?sslmode=prefer
BACKEND_PORT=5434
BACKEND_ROOT_PATH=
BACKEND_JWT_SECRET=jwtsecret
BACKEND_JWT_REFRESH_SECRET=jwtrefreshsecret

# Optional domain for host header validation
BACKEND_DOMAIN=

# Default account to create in database
BACKEND_ADMIN_USER=admin
BACKEND_ADMIN_PASS=admin

BUN_PORT=5435
# The public URL where the backend is served, will be used by frontend
# For example, https://${BACKEND_DOMAIN:?}:${BACKEND_PORT:?}/${BACKEND_ROOT_PATH}
BUN_PUBLIC_API=http://localhost:5434/

# Your database root credentials
DB_USER=postgres
DB_DATABASE=postgres
DB_PASSWORD=dbpassword
DB_PORT=5432

PGADMIN_EMAIL=example@example.com
PGADMIN_PASSWORD=example
PGADMIN_PORT=5433
