# user, password, and database can be different from your root credentials
BACKEND_DB_URI=postgres://user:password@postgres:5432/database?sslmode=prefer
BACKEND_PORT=5434
BACKEND_ROOT_PATH=
BACKEND_JWT_SECRET=

# Optional domain for host header validation
BACKEND_DOMAIN=

# Default account to create in database
BACKEND_ADMIN_USER=admin
BACKEND_ADMIN_PASS=admin

# Your database root credentials
DB_USER=postgres
DB_DATABASE=postgres
DB_PASSWORD=
DB_PORT=5432

PGADMIN_EMAIL=example@example.com
PGADMIN_PASSWORD=
PGADMIN_PORT=5433
