# https://www.postgresql.org/docs/18/runtime-config.html
listen_addresses = '*'

# If you have SSL certificates passed as secrets, uncomment this block:
# ssl = on
# ssl_cert_file = '/etc/postgresql/pg-fullchain'
# ssl_key_file = '/etc/postgresql/pg-privkey'
# ssl_dh_params_file = '/etc/postgresql/pg-dhparams'
